---
import { Image } from "astro:assets";
import graeberTitleImage from "../assets/tituloGreber.png";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Image
        src={graeberTitleImage}
        alt="Título del blog: Fragmentos de David Graeber"
      />
      <br />
      <br />
      <h1>Una mirada a las ideas de David Graeber</h1>
      <p>
        Bienvenido a un espacio dedicado a explorar el **legado intelectual de
        David Graeber**. A través de traducciones cuidadas de sus escritos, este
        blog te invita a profundizar en el pensamiento de uno de los
        antropólogos y activistas más influyentes de nuestro tiempo. Graeber fue
        un maestro en cuestionar las estructuras de poder y desafiar el sentido
        común, desde la deuda y el trabajo sin sentido hasta las utopías
        posibles. Aquí, encontrarás fragmentos clave de sus libros y ensayos,
        accesibles para el público hispanohablante. Nuestro objetivo es acercar
        sus ideas a un nuevo público, demostrando que su visión sigue siendo tan
        relevante como siempre para entender el mundo en que vivimos.
      </p>
    </main>
    <Footer />
  </body>
</html>
